<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <httpErrors errorMode="Custom">
            <remove statusCode="500" subStatusCode="-1" />
            <error statusCode="500" prefixLanguageFilePath="" path="/common/_error/error500.asp" responseMode="ExecuteURL" />
            <error statusCode="500" subStatusCode="100" path="/common/_error/error500.asp" responseMode="ExecuteURL" />
        </httpErrors>
    </system.webServer>
</configuration>
